<input type="hidden" id="dataJson" value="<%= @dataSo.to_json %>">

<div id="myGrid" class="ag-theme-quartz" style="height: 300px"></div>
<div class="flex justify-end px-2 ">
  <button id="removeRow" class="px-4 py-2 rounded  mr-4 mt-2 bg-red-500 text-white font-bold">Remove Data</button>
  <button id="addData" class="px-4 py-2 rounded  mr-4 mt-2 bg-blue-800 text-white font-bold">Add Data</button>
  <button id="updateTable" class="px-4 py-2 rounded b  mr-4 mt-2 bg-sky-500  text-white font-bold">Save</button>
</div>

<script type="module">
    function getCookiee(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function () {
        var dataJson = JSON.parse($('#dataJson').val())
        var customerList = dataJson.customer

        var data

        var gridOptions = {
            rowSelection: 'single',
            stopEditingWhenCellsLoseFocus: true,
            autoSizeStrategy: {
                type: 'fitCellContents'
            },
            columnDefs: [
                {field: 'so', headerName: 'RELATED S/O'},
                {field: 'date', headerName: 'DN DATE', editable: true, minWidth: 150, type: 'dateColumn'},
                {field: 'contract', headerName: 'CONTRACT', editable: true, minWidth: 150, },
                {
                    field: 'customer',
                    headerName: 'CUSTOMER',
                    suppressSizeToFit: true,
                    minWidth: 500,
                    editable: true,
                    cellEditor: 'agSelectCellEditor',
                    cellEditorParams: {
                        values: customerList
                    }
                },
                {field: 'description', editable: true, headerName: 'DESCRIPTION', minWidth: 550},
                {field: 'uom', headerName: 'UOM', editable: true},
                {
                    field: 'quantity',
                    editable: true,
                    headerName: ' QUANTITY',
                    type: 'numberColumn',
                    cellStyle: {textAlign: 'right'},
                },
                {
                    field: 'unit_price',
                    editable: true,
                    headerName: 'UNIT PRICE',
                    type: 'numberColumn',
                    cellStyle: {textAlign: 'right'},
                },
                {
                    field: 'amount', editable: true, headerName: ' AMOUNT', cellStyle: {textAlign: 'right'},
                    valueGetter: function (params) {
                        params.data.amount = Math.round(params.data.quantity * params.data.unit_price)
                        if (!params.data.amount) {
                            return ''
                        }
                        return params.data.amount.toLocaleString()
                    }
                },
                {
                    field: 'vat',
                    headerName: 'VAT(%)',
                    maxWidth: 80,
                    type: 'numberColumn',
                    editable: function (params) {
                        return (params.data.allow == null || params.data.allow == '');
                    },
                    cellRenderer: function (params) {
                        if (!params.data.vat) {
                            return ''
                        }
                        return `${params.data.vat} %`
                    }
                },
                {
                    field: 'amount_vat', editable: true, headerName: ' AMOUNT (VAT)', cellStyle: {textAlign: 'right'},
                    valueGetter: function (params) {
                        params.data.amount_vat = Math.round((params.data.amount + (params.data.amount * params.data.vat / 100)))
                        if (!params.data.amount_vat) {
                            return ''
                        }
                        return params.data.amount_vat.toLocaleString()
                    }
                },
                {
                    field: 'deposit',
                    headerName: ' DEPOSIT',
                    cellStyle: {textAlign: 'right'},
                    width: 130,
                    editable: true,
                    valueGetter: function (params) {
                        if (!params.data.deposit) {
                            return 0
                        }
                        return parseFloat(params.data.deposit);
                    },
                    cellRenderer: function (params) {

                        if (!params.data.deposit) {
                            return ''
                        }
                        return parseFloat(params.data.deposit).toLocaleString();
                    }
                },
                {
                    field: 'compensation',
                    editable: true,
                    width: 150,
                    cellStyle: {textAlign: 'right'},
                    headerName: 'COMPENSATION',
                    valueGetter: function (params) {
                        if (!params.data.compensation) {
                            return 0
                        }
                        return parseFloat(params.data.compensation);
                    },
                    cellRenderer: function (params) {

                        if (!params.data.compensation) {
                            return ''
                        }
                        return parseFloat(params.data.compensation).toLocaleString();
                    }
                },
                {field: 'payment_date', type: 'dateColumn', editable: true, headerName: ' PAYMENT DATE'},
            ],
            isRowSelectable: (params) => {
                return !Boolean(params.data.allow)
            },
            rowClassRules: {
                // apply green to 2008
                'bg-stone-100': function (params) {
                    return Boolean(params.data.allow)
                },
                'pointer-events-none': function (params) {
                    return Boolean(params.data.allow)
                }
            },
            columnTypes: {
                numberColumn: {
                    valueFormatter: function (params) {
                        if (!params.value) {
                            return ''
                        }
                        return parseFloat(params.value).toLocaleString()
                    }
                },
                dateColumn: {
                    valueFormatter: function (params) {
                        if (!params.value) {
                            return ''
                        }
                        return moment(params.value, 'YYYY-MM-DD').format('MM-DD-YYYY')
                    },
                    cellEditor: 'agDateStringCellEditor',
                    cellEditorParams: {
                        formatValue: function (date) {
                            if (!date) {
                                return ''
                            }
                            return moment(date, 'YYYY-MM-DD').format('MM-DD-YYYY');
                        }
                    },
                }
            },
            onGridReady: (params) => {
                // document.addEventListener('keydown', keyDownListener);
            },
        };

        const myGridElement = document.querySelector('#myGrid');

        var gridApi = agGrid.createGrid(myGridElement, gridOptions)

        var id = '<%= params[:id] %>'

        $.ajax({
            url: '/debit_notes/data',
            method: 'get',
            data: {id: id},
            success: function (e) {
                console.log(e)
                data = e
                if (e) {
                    gridApi.setGridOption('rowData', e)
                }
            },
            error: function (e) {
                console.log(e)
            }
        })

        $('#addData').click('click', function () {
            var newItem = {
                id: null,
                so: dataJson.so,
                service_order_id: dataJson.id,
                branch: getCookiee('branch')
            };
            gridApi.applyTransaction({add: [newItem]});
        })


        $('#updateTable').click('click', function () {
            let allData = [];
            gridApi.forEachNode((node) => {
                allData.push(node.data);
            });
            var json = {id: id, data: allData}
            console.log(json)
            $.ajax({
                url: '/debit_notes',
                method: 'post',
                data: json,
                success: function (e) {
                    console.log(e)
                    callToast('Success')
                    $('[data-modal-hide="default-modal"]').trigger('click');
                    location.reload();
                },
                error: function (e) {
                    console.log(e.responseJSON.error)
                    callToast(e.responseJSON.error)

                }
            })

        })


        $(document).off('click', '#removeRow').on('click', '#removeRow', function () {
            const selectedData = gridApi.getSelectedRows();
            if (selectedData[0].id && !selectedData[0].allow) {
                $.ajax({
                    url: '/debit_notes/remove_row',
                    method: 'post',
                    data: {id: selectedData[0].id},
                    success: function (e) {
                        const res = gridApi.applyTransaction({remove: selectedData});

                    },
                    error: function (e) {
                        console.log(e.responseJSON.error)
                        callToast(e.responseJSON.error)

                    }
                })
            } else {
                const res = gridApi.applyTransaction({remove: selectedData});
            }
        })


    })
</script>


