<main class="main">
  <section class="page-title font-bold" style="background-image: url(<%= asset_path('resource/page-title-bg.jpg')%>">
    <div class="auto-container">
      <div class="title font-bold-outer text-center">
        <ul class="page-breadcrumb">
          <li><a href="/">Home</a></li>
          <li>Careers</li>
        </ul>
        <h1 class="title font-bold">Careers</h1></div>
    </div>
  </section>
  <section class="service-section-two">
    <div class="anim-icons"><span class="icon icon-plane-1 bounce-y"></span></div>
    <div class="auto-container">
      <div class="sec-title font-bold text-center"><span class="sub-title font-bold">Great Place to Work</span>
        <h2>Why Join Us?</h2></div>
      <div class="row">
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-production "></i>
            <h3 class="title font-bold"><a href="#">You can Move the World</a></h3>
            <div class="text">TVPL is the world’s busiest transhipment port, bolstering Singapore’s economy and connecting people to what they need and more. Going beyond the port, TVPL aims to be a global trade enabler who moves the world and orchestrates supply chain to ensure that your cargo will arrive.
            </div>
          </div>
        </div>

        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-logistics-1"></i>
            <h3 class="title font-bold"><a href="#">You can Discover New Opportunities</a></h3>
            <div class="text"> Grow your career with TVPL. Venture into new areas and discover how far you can go alongside us. Fulfil your aspirations through exposure and opportunities across disciplines; from operations to engineering, IT to corporate functions.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-logistics-delivery-5"></i>
            <h3 class="title font-bold"><a href="#">You can Co-create Our Culture</a></h3>
            <div class="text">Culture is the substance that makes an organisation a great place to work. In TVPL, you will find a supportive environment, great teamwork and lifelong friendships that can empower you to reach your potential.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-logistics-delivery-5"></i>
            <h3 class="title font-bold"><a href="#">You can Innovate Our Future</a></h3>
            <div class="text">Contribute to making the world’s largest fully automated port a reality by harnessing technologies and automation. Innovate, challenge status quo and transform the future of work with us.
            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-settings-1"></i>
            <h3 class="title font-bold"><a href="#">You can Make a Difference</a></h3>
            <div class="text">Play a part and join us in making a difference at work through decarbonization, energy savings, water conservation and waste reduction efforts across TVPL’s global sustainability portfolio.


            </div>
          </div>
        </div>
        <div class="service-block-two col-lg-4 col-md-6 wow fadeInLeft">
          <div class="inner-box"><i class="icon flaticon-delivery-box-3"></i>
            <h3 class="title font-bold"><a href="#">You can Broaden Your Horizons
            </a></h3>
            <div class="text">Ensuring timely delivery of goods, adhering to strict schedules and deadlines to meet your business needs.
            </div>
          </div>
        </div>
        <div class="service-info-block col-lg-12 col-md-12 flex justify-center  wow fadeInLeft">

            <a class="theme-btn btn-style-one" href="/page-logistics-service"><span class="btn-title font-bold">Apply now</span></a>
        </div>
      </div>
    </div>
  </section>

</main>
