<main class="main">
  <section class="page-title" style="background-image: url(<%= asset_path('resource/page-title-bg.jpg')%>">
    <div class="auto-container">
      <div class="title-outer text-center">
        <ul class="page-breadcrumb">
          <li><a href="/">Home</a></li>
          <li>Faq</li>
        </ul>
        <h1 class="title">Faq</h1></div>
    </div>
  </section>
  <section class="faqs-section">
    <div class="bg bg-image" style="background-image: url(<%= asset_path('resource/3.jpg')%>"></div>
    <div class="auto-container">
      <div class="row">
        <div class="faq-column col-xl-7 col-lg-7 wow fadeInLeft">
          <div class="inner-column">
            <div class="sec-title"><span class="sub-title">Cargo Shipping Faq's</span>
              <h2>Logistics Solution</h2></div>
            <ul class="accordion-box">
              <li class="accordion block">
                <div class="acc-btn active">How are my belongings safeguarded during the moving process?
                  <div class="icon-box">
                    <div class="icon fal fa-long-arrow-right"></div>
                  </div>
                </div>
                <div class="acc-content current">
                  <div class="content">
                    <div class="text">We ensures the protection of your belongings during the moving process through professional packing and other protective measures.
                    </div>
                    <ul class="list-style-two">
<!--                      <li>Suspendisse potenti. Maecenas dapibus ac tellus sed pulvinar</li>-->
<!--                      <li>Logistics &amp; finance services built specifically</li>-->
<!--                      <li>There are many variations of passages of but the majority</li>-->
                    </ul>
                  </div>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">Can I get an estimate of the shipping costs before using the service?
                  <div class="icon-box">
                    <div class="icon fal fa-long-arrow-right"></div>
                  </div>
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">Yes, you can receive an estimate of shipping costs by requesting a quote through the provided link.
                    </div>
                    <ul class="list-style-two">
<!--                      <li>Suspendisse potenti. Maecenas dapibus ac tellus sed pulvinar</li>-->
<!--                      <li>Logistics &amp; finance services built specifically</li>-->
<!--                      <li>There are many variations of passages of but the majority</li>-->
                    </ul>
                  </div>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">What documents do I need to provide for customs clearance?
                  <div class="icon-box">
                    <div class="icon fal fa-long-arrow-right"></div>
                  </div>
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">For customs clearance, you will need to provide documents such as a commercial invoice, bill of lading or air waybill, packing list, customs declaration, certificate of origin, import/export license, insurance certificate, and any specialized certificates required for specific goods.
                    </div>
                    <ul class="list-style-two">
<!--                      <li>Suspendisse potenti. Maecenas dapibus ac tellus sed pulvinar</li>-->
<!--                      <li>Logistics &amp; finance services built specifically</li>-->
<!--                      <li>There are many variations of passages of but the majority</li>-->
                    </ul>
                  </div>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">What types of goods do you accommodate in your warehouses?
                  <div class="icon-box">
                    <div class="icon fal fa-long-arrow-right"></div>
                  </div>
                </div>
                <div class="acc-content">
                  <div class="content">
                    <div class="text">TVPL warehouses can accommodate a wide range of goods, including general cargo, perishable items, hazardous materials, automobiles, e-commerce inventory, raw materials, consumer goods, construction materials, pharmaceuticals, textiles, and more.
                    </div>
                    <ul class="list-style-two">
<!--                      <li>Suspendisse potenti. Maecenas dapibus ac tellus sed pulvinar</li>-->
<!--                      <li>Logistics &amp; finance services built specifically</li>-->
<!--                      <li>There are many variations of passages of but the majority</li>-->
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-column col-lg-5 wow fadeInRight" data-wow-delay="300ms">
          <div class="inner-column">
            <div class="faq-form">
              <div class="sec-title"><span class="sub-title">Cargo Shipping Faq's</span>
                <h2>Request a Quote</h2></div>
              <form method="post" action="get" id="contact-form">
                <div class="row">
                  <div class="col-sm-6 form-group"><select class="custom-select">
                    <option value="">Select</option>
                    <option value="">Port Operation</option>
                    <option value="">Trucking</option>
                    <option value="">Barging</option>
                    <option value="">Storing in warehouse</option>
                    <option value="">Customs declaration</option>
                    <option value="">Other services</option>
                  </select></div>
                  <div class="col-sm-6 form-group"><select class="custom-select">
                    <option value="">Select</option>
                    <option value="">Door to Door</option>
                    <option value="">International shipping</option>
                    <option value="">Multi Modal</option>
                  </select></div>
                  <div class="form-group col-lg-12">
                    <div class="input-outer"><input type="text" name="name" placeholder="Complete Name" required="">
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <div class="input-outer"><input type="email" name="Email" placeholder="Email Address" required="">
                    </div>
                  </div>
                  <div class="form-group col-lg-12">
                    <div class="input-outer"><input type="tel" name="Phone" placeholder="Phone No" required=""></div>
                  </div>
                  <div class="form-group col-lg-12">
                    <button class="theme-btn btn-style-one hover-dark" type="submit" name="submit-form">
                      <span class="btn-title">Submit Request</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  $('.accordion-box .acc-btn').on('click',function (){
      $('.accordion-box .acc-btn').removeClass('active');
      $(this).addClass('active');
      $(this).parent().find('.acc-content').addClass('current');
  })
</script>
