<footer class="main-footer footer-style-two">
  <div class="bg bg-image" style="background-image: url(<%= asset_path('resource/7.jpg') %>"></div>
  <div class="widgets-section">
    <div class="auto-container">
      <div class="row">
        <div class="footer-column col-xl-4 col-lg-4">
          <div class="footer-widget about-widget">
            <div class="logo"><a href="/"><img width="100" src="<%= asset_path('logo.jpg') %>" alt=""></a></div>
            <div class="text">We’d love to hear from you
            </div>
            <!--            <ul class="social-icon-two">-->
            <!--              <li><a href="/tvpl"><i class="fab fa-facebook-f"></i></a></li>-->
            <!--            </ul>-->
          </div>
        </div>
        <div class="footer-column col-xl-4 col-lg-4">
          <div class="footer-widget contact-widget"><h4 class="widget-title">Contact Info</h4>
            <div class="widget-content">
              <ul class="contact-list-two light">
                <li><i class="icon fa fa-map-marker-alt"></i> Đường số 4, KCN Phú Mỹ 1, Phường Phú Mỹ,<br> Thị xã Phú
                  Mỹ, Tỉnh Bà Rịa - Vũng Tàu, Việt Nam
                </li>
                <li><i class="icon fa fa-phone"></i> <a href="tel:+84968497649">+84 968 497 649</a> Mon - Sat: 8 am - 5
                  pm,
                </li>
                <li><i class="icon fa fa-envelope"></i>
                  <a href="mailto:sales@tvplogistics.com">sales@tvplogistics.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-column col-xl-4 col-lg-4">
          <div class="footer-widget links-widget"><h4 class="widget-title">Our Services</h4>
            <div class="widget-content">
              <ul class="user-links two-column">
                <li><a href="#">Port Operation</a></li>
                <li><a href="#">Trucking</a></li>
                <li><a href="#">Barging</a></li>
                <li><a href="#">Storing in warehouse</a></li>
                <li><a href="#">Customs declaration</a></li>
                <li><a href="#">Other services</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="auto-container">
      <div class="newsletter-form-two">
        <div class="title-box"><i class="icon fa fa-paper-plane"></i>
          <div class="title"><h3 class="title">Newsletter</h3>
            <div class="text">Enter your email address and get new updates</div>
          </div>
        </div>
        <div class="form-group"><input type="email" name="email" placeholder="Enter your email address....">
          <button type="submit" class="theme-btn btn-style-two"><span class="btn-title">Subscribe</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="inner-container">
        <div class="copyright-text"></div>
        <ul class="footer-nav">
          <li><a href="/tvpl">Privacy</a></li>
          <li><a href="/tvpl">Terms &amp; Condition</a></li>
          <li><a href="/page-about-us">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
